* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}
header {
    background-color: indigo;
    height: 10vh;
}
main {
    background-color: red;
    height: 80vh;

}
aside {
    background-color: green;
    float: left;
    width: 20%;
    height: 100%;
}
footer {
    background-color: purple;
    height: 10vh;
}